@mixin ph-btn($color: #52aac1, $text-color: #fff) {
  position: relative;
  display: flex;
  align-items: center;
  font-size: .8rem;
  border-radius: 5px;
  background-color: rgba($color, .6);
  color: $text-color;

  &:hover {
    background-color: rgba($color, .8);
    color: $text-color;
  }
  
  &:active {
    background-color: $color;
    top: 2px;
  }

  & > * {
    padding: .35rem .6rem;
  }
  
  .ph-btn-icon {
    display: flex;
    padding: .35rem .5rem;
    
    & + * {
      border-left: 1px solid #fff;
    }
  }
}

@mixin ph-btn2(
  $color: #52aac1,
  $text-color: #fff,
  $init-width: 30%,
  $end-width: 40%
) {
  padding: .5rem;
  font-size: .8rem;
  border-radius: .25rem;
  overflow: hidden;
  position: relative;
  outline: none;
  background-color: rgba($color, .9);
  color: $text-color;

  &:before {
    left: auto;
    right: 10px;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    transition: all 0.3s;

    width: $init-width;
    height: 200%;
    background: rgba(255,255,255,0.2);
    z-index: 1;
    right: 0;
    box-sizing: border-box;
    top: 0;
    margin: -5px 0 0 -5px;
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  &:hover {
    background-color: $color;

    &:after {
      width: $end-width;
    }
  }

  &:active {
    top: 2px;
  }
}
