.ph2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ph4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.ph5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pv1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.pv2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.pv3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pv4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pv5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pa0 {
  padding: 0;
}

.pa1 {
  padding: .25rem;
}

.pa2 {
  padding: .5rem;
}

.pa3 {
  padding: 1rem;
}

.pa4 {
  padding: 1.5rem;
}

.pa5 {
  padding: 2rem;
}

.pt1 {
  padding-top: .25em;
}

.pt2 {
  padding-top: .5rem;
}

.pt3 {
  padding-top: 1rem;
}

.pt4 {
  padding-top: 1.5rem;
}

.pb3 {
  padding-bottom: 1rem;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

@media screen and (min-width: 960px) {
  .pa5-b {
    padding: 2rem;
  }
}